<html>
    <head>
        <title>Vue.js</title>
        <script src="../assets/vue.js"></script>
    </head>
    <style>
        .demo{
            width: 100px;
            height: 100px;
            background-color: red;
            margin: 10px;
        }
        .red{
            background-color: black;
        }
    </style>
    <body>
        <div id="app">
            <!-- v-once is used to get the title only first time later if it got modified it won't change -->
            <h1 v-once>{{ title }}</h1>
            <!--Get the users value using on-->
            <input type="text" v-on:input ="changeTitle"/>

            
            <!--Bind the href to vue.js href no need to put the "{}"-->
            <p>{{ title }} - <a v-bind:href="link">Google</a>
            </p>

            <hr>
            <p v-html = "finishedLink"></p>

            <hr>
            <button v-on:click="clickMe">Click me value will increment by one</button>
            <p>{{ count }}</p>

            <hr>
            <button v-on:click= "clickMe_2(2,$event)">Click me value will increment by two</button>
            <p>{{ count_2 }}</p>

            <hr>
            <p v-on:mousemove= "mouseMove">Mouse Move Event  {{ x }} / {{ y }}
                - <span v-on:mousemove.stop="">When u move here mose event will stop</span>
            </p>

            <hr>
            <input type="text" v-on:keyup.space.enter="keyUpEvent">

            <hr>
            <input type="text" v-model="txtInputValue">
            <p>{{ txtInputValue }}</p>

            <hr>
            <p>This is used to changed the css by vue.js</p>
            <div class ="demo" @click= "classChange = !classChange" :class="{red: classChange}"></div>
            <div class ="demo" :style="{backgroundColor:userValue}"></div>
            <div class ="demo" :style="changeColor"></div>

            <hr>
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
            <input type="text" v-model="userValue"/>
        </div>
    </body>

    <script>
        new Vue({
            el: "#app",
            data: {
                title : "hello World",
                link : "https://google.com",
                finishedLink: '<a href= "https://www.google.com">Google </a>',
                count : 0,
                count_2 : 0,
                x : 0, 
                y : 0,
                txtInputValue : "Testing",
                classChange: false,
                message: "Hello",
                userValue: "red",
            },
            methods: {
                changeTitle: function(event){
                    this.title = event.target.value;
                },
                clickMe: function(event){
                    this.count = this.count + 1
                },
                mouseMove: function (event) {
                    this.x = event.clientX
                    this.y = event.clientY
                },
                clickMe_2: function (value, event) {
                    this.count_2 +=value
                }, 
                keyUpEvent: function (event){
                    alert("space or enter pressed")
                }
            },
            computed: {
                // a computed getter
                reversedMessage: function () {
                    // `this` points to the vm instance
                    return this.message.split('').reverse().join('')
                },

                changeColor: function () {
                    return {
                        backgroundColor: this.userValue
                    }
                }
            },
            watch: {
                count: function (value) {
                    console.log("value changed")
                    console.log(value)
                    console.log(this.count)
                }
            }

        })
    </script>
</html>